private-configs/
*node_modules*
*.env
*.swp
.config/iterm2/
.config/github-copilot
.config/nvim/pack
.
..
.CFUserTextEncoding
.Trash
.bash_history
.bash_profile
.chat
.git
.gitconfig
.gitignore
.gitignores
.gnupg
.local
.neovim.txt.swp
.npm
.nvm
.readme.txt.swp
.sdkman
.tmux.conf
.vim
.viminfo
.vimrc
.zcompdump-cousin-5.8
.zcompdump-cousin-5.8.zwc
.zsh_history
.zsh_profile
.zshrc
.zshrc.pre-oh-my-zsh
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
ai-chat-cli
github-copilot.txt
neovim.txt
node-version-manager.txt
package.json
private-configs
readme.txt
sdkman.txt
.oh-my-zsh
.m2/
hello.js hello.lua
hello.js
ng-14
../.angular-config.json
.angular-config.json
.lesshst
java-university
.zcompdump-Andrew’s Mac Studio-5.9
.zprofile
tmux-client-12333.log
tmux-client-12333.log
.ssh
advaita-angular-mono-repo
pgwebapp10
ABtasks.txt
ABtasks.txt
node_modules
hello.js hello.ts
ng-14
hello.js hello.ts
hello.ts
.m2
test
old-m2
.config/coc/extensions
.oracle_jre_usage
.docker
.config/coc
.aws
hello.java
.DS_Store
.docker
.cache
playwright-scripts/
.config/coc/memos.json
download-parse-update-ekb
.config/configstore/update-notifier-npm.json
.node_repl_history
asc_seurat/
.config/coc/memos.json
.config/gh
.psql_history
