private-configs/
*node_modules*
*.env
*.swp
.config/iterm2/
.config/github-copilot
.config/nvim/pack
.
..
.CFUserTextEncoding
.Trash
.bash_history
.bash_profile
.chat
.config
.git
.gitconfig
.gitignore
.gitignores
.gnupg
.local
.neovim.txt.swp
.npm
.nvm
.readme.txt.swp
.sdkman
.tmux.conf
.vim
.viminfo
.vimrc
.zcompdump-cousin-5.8
.zcompdump-cousin-5.8.zwc
.zsh_history
.zsh_profile
.zshrc
.zshrc.pre-oh-my-zsh
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
ai-chat-cli
bin
github-copilot.txt
neovim.txt
node-version-manager.txt
package.json
private-configs
readme.txt
sdkman.txt
.oh-my-zsh
.m2/
hello.js hello.lua
hello.js
ng-14
../.angular-config.json
.angular-config.json
